 <html>
 <head>
	 <title>Untitled</title>
	 <meta charset="UTF-8"/>
<link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	 </head>
	 <body>
	 <div style="display:block">
	 <button  class=" btn btn-success pull-right" style="position:absolute;top:0;right:0;display:block;"><a href="/logout">Logout</a></button></div>
	 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Select Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <form action="/select" target="dummyframe"method="post">
    <li><button name="hi" value="intensity">intensity</button></li>
     <li><button name="hi" value="likelihood">Likelihood</button></li>
     <li><button name="hi" value="relevance">Relevance</button></li>
       <li><button name="hi" value="year">Year</button></li>
         <li><button name="hi" value="country">Country</button></li>
           <li><button name="hi" value="topics">Topics</button></li>
             <li><button name="hi" value="region>Region</button></li>
               <li><button name="hi" value="city">City</button></li>
  </ul>
  </form>
</div>
<div class="near">
<form action="/search" method="post">
<input type="text" name="search" placeholder="enter">
<input type="submit" >
</form>
</div>
<%for(var i=0;i<10; i++){%>
<div style="margin:10px 10px 10px 10px;background-color:Cyan">
<p><%=dat[i].title%></p>
<p><%=dat[i].sector%></p>
<p><%=dat[i].source%></p>
<p><%=dat[i].topic%></p>
<p><%=dat[i].impact%></p>
<p><%=dat[i].country%></p>
<p><%=dat[i].city%></p>
<p><%=dat[i].relevance%></p>
</div>
<%}%>


	 </body>
 </html>